<section>
  <button mat-raised-button color="primary" (click)="new()">New Game</button>
</section>

<section>
  <h3>You have {{ games.length || 'no' }} current game{{games.length === 1 ? '' : 's'}}</h3>
  <table mat-table [dataSource]="games" class="mat-elevation-z8">
    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let game">{{ prettyDate(game.created) }}</td>
    </ng-container>

    <ng-container matColumnDef="deck_id">
      <th mat-header-cell *matHeaderCellDef>Game ID</th>
      <td mat-cell *matCellDef="let game">{{ game.deck_id }}</td>
    </ng-container>

    <ng-container matColumnDef="shuffled">
      <th mat-header-cell *matHeaderCellDef>Shuffled?</th>
      <td mat-cell *matCellDef="let game">{{ game.shuffled ? 'Yes' : 'No' }}</td>
    </ng-container>

    <ng-container matColumnDef="remaining">
      <th mat-header-cell *matHeaderCellDef>Cards Remaining</th>
      <td mat-cell *matCellDef="let game">{{ game.remaining }}</td>
    </ng-container>

    <ng-container matColumnDef="players">
      <th mat-header-cell *matHeaderCellDef>Players</th>
      <td mat-cell *matCellDef="let game">{{ game.pile_count }}</td>
    </ng-container>

    <ng-container matColumnDef="hand_size">
      <th mat-header-cell *matHeaderCellDef>Hand Size</th>
      <td mat-cell *matCellDef="let game">{{ game.hand_size }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)=navigateToDeck(row.deck_id)></tr>
  </table>
</section>